#header {
	width: 100%;
	position: fixed;
}
.hd-elem {
	display: inline;
	color: #FFF;
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
.hd-elem:hover {
	display: inline;
	background: #64d264;
}
.min-elem {
	margin-top:    15px;
	margin-bottom: 15px;
	margin-left:   30px;
	margin-right:  30px;
}
