#q_box {
	background-color: rgba(250,250,250,0.6);
	padding-top: 3px;
	text-align: center;
	width: 130px;
	height: 70px;
}

#mean {
	display: inline-block;
	padding-top: 3px;
	font-size: 18px;
}


#ans {
	margin: 3px;
	font-size: 18px;
}

#display{
	top: 100px;
	left:200px;
	height: 400px;
	width: 800px;
	position: absolute;
	z-index: 0;
}

#field{
	height: 400px;
	margin-bottom: 50px;
	position: relative;
	overflow: hidden;
}

#player{
	width: 100px;
	height: 100px;
	position: absolute;
}


#mkelm {
	display: inline-block;
	width: 290px;
	margin: 20px;
	line-height: 45px;
	background: #2e8b57;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

#confirm {
	display: inline-block;
	width: 290px;
	margin: 20px;
	line-height: 45px;
	background: #4169e1;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

#controller {
	background-color: rgba(150,150,150,0.6);
	text-align:center;
	margin: auto;
	width: 100%;
	height: 200px;
}

#lockon {
	width:100px;
	height:100px;
	position:absolute;
	left: 10px;
}

#hp {
	width: 400px;
}

